# Git
.git/
.github/
.gitignore
.gitattributes

# EditorConfig
.editorconfig

# CI
.codeclimate.yml
.travis.yml
.taskcluster.yml
.pre-commit-config.yaml

# Docker
docker-compose.yml
Dockerfile
docker/
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Mypy
.mypy_cache

# PyBuilder
target/

# Virtual environment
.venv
venv/

# PyCharm
.idea/

# VS Code
.vscode/

# Docs
docs/
README.md
LICENSE
